@import "./base.css";

@font-face {
	font-family: "JetBrains Mono";
	src: url('./jetbrains-ttf/JetBrainsMono-Regular.ttf/') format('opentype');
	font-weight: normal;
	font-style: normal;
}

* {
	color: #f5f5f5;
	font-family: "JetBrains Mono", sans-serif;
	/* src: url("/src/renderer/src/Assets/jetbrains-ttf/JetBrainsMono-Regular.ttf"); */
}

* {
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #171717;
	height: 100%;
}

#menu-bar {
	-webkit-app-region: drag;
}

#app {
	background-color: #171717;
}

#menu {
	background-color: #09090b;
}
